## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
import os,sys
sys.path.insert(0,'..')

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Ponta Do Sol,32.6667,-17.1000,69.80,60,40,5.75,PT,scattered clouds
1,1,Dunmore Town,25.5000,-76.6500,78.49,77,11,12.82,BS,few clouds
2,2,Itaqui,-29.1253,-56.5531,66.24,75,28,13.18,BR,scattered clouds
3,3,Ovalle,-30.5983,-71.2003,63.63,66,0,1.19,CL,clear sky
4,4,Albany,42.6001,-73.9662,51.01,82,100,3.38,US,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria (write 2 statements)
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)
# This is the preferred_cities_df DataFrame

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
1,1,Dunmore Town,25.5000,-76.6500,78.49,77,11,12.82,BS,few clouds
5,5,Vitoria,-20.3194,-40.3378,84.00,74,40,3.44,BR,scattered clouds
6,6,Coahuayana,18.7333,-103.6833,73.40,43,40,2.62,MX,scattered clouds
7,7,Adeje,28.1227,-16.7260,75.20,46,40,14.97,ES,scattered clouds
16,16,Hyeres,43.1167,6.1167,73.00,68,0,13.80,FR,clear sky
18,18,Eirunepe,-6.6603,-69.8736,76.23,93,94,1.45,BR,overcast clouds
19,19,Ugoofaaru,5.6667,73.0000,85.05,68,21,6.17,MV,few clouds
20,20,Tabou,4.4230,-7.3528,85.23,67,100,5.14,CI,light rain
21,21,Rikitea,-23.1203,-134.9692,77.67,75,62,7.52,PF,broken clouds
24,24,East London,-33.0153,27.9116,77.00,50,0,8.05,ZA,clear sky

In [7]:
# count of preferred_cities_df DataFrame 
preferred_cities_df.count()

City_ID                261
City                   261
Lat                    261
Lng                    261
Max Temp               261
Humidity               261
Cloudiness             261
Wind Speed             261
Country                257
Current Description    261
dtype: int64

In [8]:
# 4a. Determine if there are any empty rows. 
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                4
Current Description    0
dtype: int64

In [9]:
# Count the rows for preferred_cities_df DataFrame 
preferred_cities_df.count()
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
1,1,Dunmore Town,25.5000,-76.6500,78.49,77,11,12.82,BS,few clouds
5,5,Vitoria,-20.3194,-40.3378,84.00,74,40,3.44,BR,scattered clouds
6,6,Coahuayana,18.7333,-103.6833,73.40,43,40,2.62,MX,scattered clouds
7,7,Adeje,28.1227,-16.7260,75.20,46,40,14.97,ES,scattered clouds
16,16,Hyeres,43.1167,6.1167,73.00,68,0,13.80,FR,clear sky
18,18,Eirunepe,-6.6603,-69.8736,76.23,93,94,1.45,BR,overcast clouds
19,19,Ugoofaaru,5.6667,73.0000,85.05,68,21,6.17,MV,few clouds
20,20,Tabou,4.4230,-7.3528,85.23,67,100,5.14,CI,light rain
21,21,Rikitea,-23.1203,-134.9692,77.67,75,62,7.52,PF,broken clouds
24,24,East London,-33.0153,27.9116,77.00,50,0,8.05,ZA,clear sky

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

# new DataFrame is named clean_df from the original preferred_cities_df DataFrame

City_ID                257
City                   257
Lat                    257
Lng                    257
Max Temp               257
Humidity               257
Cloudiness             257
Wind Speed             257
Country                257
Current Description    257
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
# Use the syntax DataFrame[new_column] = "" to create an EMPTY column named hotel_df in the Dataframe.
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

# New DataFrame named hotel_df from the clean_df created in above step

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Dunmore Town,BS,78.49,few clouds,25.5000,-76.6500,
5,Vitoria,BR,84.00,scattered clouds,-20.3194,-40.3378,
6,Coahuayana,MX,73.40,scattered clouds,18.7333,-103.6833,
7,Adeje,ES,75.20,scattered clouds,28.1227,-16.7260,
16,Hyeres,FR,73.00,clear sky,43.1167,6.1167,
18,Eirunepe,BR,76.23,overcast clouds,-6.6603,-69.8736,
19,Ugoofaaru,MV,85.05,few clouds,5.6667,73.0000,
20,Tabou,CI,85.23,light rain,4.4230,-7.3528,
21,Rikitea,PF,77.67,broken clouds,-23.1203,-134.9692,
24,East London,ZA,77.00,clear sky,-33.0153,27.9116,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters. 
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Check if the Hotel Name column populated after running above cell 
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Dunmore Town,BS,78.49,few clouds,25.5000,-76.6500,Coral Sands Hotel
5,Vitoria,BR,84.00,scattered clouds,-20.3194,-40.3378,Hotel Prata
6,Coahuayana,MX,73.40,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
7,Adeje,ES,75.20,scattered clouds,28.1227,-16.7260,Gran Tacande Wellness & Relax
16,Hyeres,FR,73.00,clear sky,43.1167,6.1167,Hôtel des Palmiers
18,Eirunepe,BR,76.23,overcast clouds,-6.6603,-69.8736,Atrás de você
19,Ugoofaaru,MV,85.05,few clouds,5.6667,73.0000,Ungoofaaru Inn
20,Tabou,CI,85.23,light rain,4.4230,-7.3528,hotêl doufoulougou
21,Rikitea,PF,77.67,broken clouds,-23.1203,-134.9692,Pension Maro'i
24,East London,ZA,77.00,clear sky,-33.0153,27.9116,Tu Casa
26,Bengkulu,ID,79.86,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
27,Itaborai,BR,77.00,few clouds,-22.7444,-42.8594,Promenade Prime Itaboraí
30,Lorengau,PG,80.71,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
33,Kavieng,PG,82.31,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
34,La Asuncion,VE,78.64,broken clouds,11.0333,-63.8628,Colinas de Matasiete
40,Butaritari,KI,82.26,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
47,Gasa,PS,86.00,clear sky,31.5000,34.4667,رابطة الفنانين الفلسطينيين
49,Arraial Do Cabo,BR,77.00,few clouds,-22.9661,-42.0278,Pousada Porto Praia
50,Mahebourg,MU,78.80,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
51,Puerto Ayora,EC,75.70,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [14]:
# This validates if the empty strings have been been removed; True = returns if not empty
hotel_df["Hotel Name"] != ''

1      True
5      True
6      True
7      True
16     True
       ...
658    True
661    True
662    True
664    True
665    True
Name: Hotel Name, Length: 257, dtype: bool

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

In [16]:
# Print the clean_hotel_df DataFrame to check output
clean_hotel_df

#clean_hotel_df.head() - alternative print to show first 10 rows of DataFramee

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Dunmore Town,BS,78.49,few clouds,25.5000,-76.6500,Coral Sands Hotel
5,Vitoria,BR,84.00,scattered clouds,-20.3194,-40.3378,Hotel Prata
6,Coahuayana,MX,73.40,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
7,Adeje,ES,75.20,scattered clouds,28.1227,-16.7260,Gran Tacande Wellness & Relax
16,Hyeres,FR,73.00,clear sky,43.1167,6.1167,Hôtel des Palmiers
...,...,...,...,...,...,...,...
658,Grand Gaube,MU,78.01,overcast clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
661,Edgewater,US,75.20,light rain,28.9889,-80.9023,Islander Beach Resort
662,Nova Olimpia,BR,77.85,light rain,-14.7972,-57.2881,Motel glamour
664,Kalmunai,LK,81.91,few clouds,7.4167,81.8167,VS Villa
665,Port Hedland,AU,71.60,clear sky,-20.3167,118.5667,The Esplanade Hotel

In [17]:
# Check # of rows for hotel_df
hotel_df.shape

(257, 7)

In [18]:
# Check # of rows for clean_hotel_df to verify if we dropped the rows
clean_hotel_df.shape

(241, 7)

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(28.0, 29.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=290, point_radius=3.5)

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))